<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container-lg w-100 border border-primary relative bg-info text-dark bg-opacity-25 mt-2 position-relative text-center pt-5">
        <h2 class="mb-5 fs-1">Парсер XML</h2>
        <div class="row justify-content-center">
            <div class="col border-top border-end border-primary">
                <div class="mt-2 fs-3"><strong>Обновить документ:</strong></div>
                <form class="mt-3 d-block  " method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div>
                        <input class="form-control bg-success bg-opacity-50" type="file" name="file">
                    </div>
                    <button class="mt-2 mb-5 btn btn-primary" type="submit">Загрузить</button>
                </form>
            </div>

            <div class="col border-top border-start border-primary">
                <p class="mt-2 fs-3"> <strong>Обновить справочник:</strong></p>

                <form action="/" th:method="post">
                    <select name="handbooks" th:name="handbook" class="form-select">
                        <option value="0">Выберите справочник</option>
                        <option th:each="handbook : ${handbooks}"  th:value="${handbook}" th:text="${handbook}"></option>
                    </select>
                    <button class="mt-2 btn btn-primary" type="submit">выбрать</button>

                </form>
                <table class="mt-2 table table-info table-striped">
                    <tr th:each="i : ${information}">
                        <td><input type="radio" th:name="rd" th:value="*{i.info.code}" name="radios" class="form-check-input"></td>
                        <td th:text="${i.info.code}"></td>
                        <td th:text="${i.info.name}"></td>
                    </tr>
                </table>

                <p th:text="*{rd}"></p>

                <form th:if="${!hidden}" action="/add/" method="get">
                    <div>
                        <button type="submit" th:name="handbook" th:value="${handbook}"
                                class="btn btn-success">Добавить
                        </button>
                    </div>
                </form>

                <div th:if="${addEntityKey}">
                    <form th:action="@{/add/}" method="post">
                        <input type="text" th:name="code"/>
                        <input type="text" th:name="name"/>
                        <button class="mt-2 btn btn-primary" th:name="handbook" th:value="${handbook}"
                                type="submit">СОХРАНИТЬ
                        </button>
                    </form>
                    <span th:if="error!=null" th:text="'Ошибка: ' + ${error}"></span>
                </div>


                <div th:if="${hidden}">
                    <button type="button mb-2" class="btn btn-success">Добавить</button>
                    <button type="button mb-2" class="btn btn-warning">Изменить</button>
                    <button type="button mb-2" class="btn btn-danger">Удалить</button>
                </div>

            </div>
        </div>

    </div>
</body>
</html>